{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'cart:home' as cart_url %}

<nav class="mb-1 navbar navbar-expand-lg navbar-dark mb-3">
  <div class="container">
  <a class="navbar-brand" href="{{home_url}}">Karan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %}active{% endif %}">
        <a class="nav-link" href="{{home_url}}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item {% if request.path == about_url %}active{% endif %}">
        <a class="nav-link" href="{{about_url}}">About</a>
      </li>
      <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
        <a class="nav-link" href="{{contact_url}}">Contact</a>
      </li>
         <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
        <a class="nav-link" href="{{cart_url}}">
          <i class="fa fa-shopping-cart " aria-hidden="true"></i> {{request.session.cart_items}}</a>
      </li>

<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"-->
<!--           aria-haspopup="true" aria-expanded="false">Sample Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        {% include "search/snippets/search-form.html" %}
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
        <a class="nav-link" href="{{logout_url}}">Log Out</a>
      </li>
      {% else %}
      <li class="nav-item {% if request.path == login_url %}active{% endif %}">
        <a class="nav-link" href="{{login_url}}">Log In</a>
      </li>
      {% endif %}
      {% if request.user.username == 'khkoyani' %}
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/admin/">Admin</a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
             aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
    </div>
</nav>
