{% extends "base.html" %}
{% block content %}
<div class="row text-center">
  <div class="col-12 mx-auto"> <h1>Checkout</h1><hr>
  </div>
</div>

{% if not billing_profile  %}
<div class="row text-center">
  <div class="col-12 col-md-6 ">
    <p>Already have an Account?</p>
    {% include "accounts/snippets/login_form.html" with form=login_form next_url=request.build_absolute_uri %}
  </div>
  <div class="col-12 col-md-6 ">
    <p>Continue as Guest?</p>
    {% url 'accounts:guest_login' as guest_url %}
    {% include "accounts/snippets/login_form.html" with form=guest_form next_url=request.build_absolute_uri action_url=guest_url %}
  </div>
</div>
{% else %}

{% if not object.shipping_address %}
<div class="row">
  <div class="col-md-7 col-10 mx-auto text-center">
    <p class="lead">Shipping Address</p><hr>
  </div>
  <div class="col-12 col-md-6">
    {% url 'addresses:create' as address_url %}
    {% include "addresses/snippets/address_form.html" with form=address_form address_type='shipping' next_url=request.build_absolute_uri action_url=address_url %}
  </div>
  {% include "addresses/snippets/select_address.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping'%}
</div>


{% elif not object.billing_address %}
<div class="row">
  <div class="col-md-7 col-10 mx-auto text-center">
    <p class="lead">Billing Address</p><hr>
      </div>
  <div class="col-12 col-md-6">
    {% url 'addresses:create' as address_url %}
    {% include "addresses/snippets/address_form.html" with form=billing_address_form address_type='billing' next_url=request.build_absolute_uri action_url=address_url %}
  </div>

  {% include "addresses/snippets/select_address.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing'%}

</div>
</div>
{% else %}


<div class="row">
  <div class="col-md-7 col-10 mx-auto text-left pl-5 pl-md-0">
<h3>Order Summary</h3>
<p>
  {% for product in object.cart.products.all %}
Items: {{product}} <br>
{% endfor %}


<p>Shipping Address: <br> {{object.shipping_address.get_address|linebreaksbr|title }}</p>
<p>Billing Address: <br> {{object.billing_address.get_address|linebreaksbr|title }}</p>
<p>Cart Total: {{object.order_total}}</p>
<p>Shipping Charges: {{object.shipping_total}}</p>
<p>Order Total: {{object.order_total}}</p>
<form action="" method="POST" class="form">{% csrf_token %}
  <button type="submit" class="btn btn-danger">Submit Order</button>
</form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}
