{% extends "base.html" %}


{% block content %}
{{object.order_id}} -- {{object.cart}}
{% if not billing_profile  %}
  <div class="row text-center">
    <div class="col-12 col-md-6 ">
      <p>Already have an Account?</p>
      {% include "accounts/snippets/login_form.html" with form=login_form next_url=request.build_absolute_uri %}
    </div>
    <div class="col-12 col-md-6 ">
      <p>Continue as Guest?</p>
      {% url 'accounts:guest_login' as guest_url %}
      {% include "accounts/snippets/login_form.html" with form=guest_form next_url=request.build_absolute_uri action_url=guest_url %}
    </div>
  </div>
{% else %}
  <h1>Checkout</h1>
  <hr>
  <h3>Order Summary</h3>
  <p>Cart Total: {{object.order_total}}</p>
  <p>Shipping Charges: {{object.shipping_total}}</p>
  <p>Order Total: {{object.order_total}}</p>

  <h3>Billing Profile</h3>
  <p>
    {% if billing_profile.user %}{{billing_profile.user}}{% else %}Guest{% endif %}<br>
    {{billing_profile.email}}<br>
    {{billing_profile.updated}}<br>
    {{billing_profile.timestamp}}<br>
  </p>
<h3>Shipping Address</h3>

{% endif %}
{% endblock content %}
