{% extends "base.html" %}



{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <h1> Product Details </h1>
        <p>
            {{product.title|title}}<br>
            Price: ${{product.price}}<br>
            Created: {{product.timestamp|timesince}} ago <br>
            {% if product.image %}
                <img src="{{product.image.url}}" class="img-fluid"><br>
            {% endif %}
            {{product.description|linebreaks}}
        </p>
    </div>
    <div class="col-12 col-md-6">
        {{cart}}
        {% if product in cart.products.all %}
        <button>Remove from cart</button>

        {% else %}
        <button>Add to cart</button>
        {% endif %}


    </div>

</div>



{% endblock %}


<!--{ context data
'object': <Product: Hat>,
'product': <Product: Hat>,
'view': <product.views.ProductDetailView object at 0x05157830>}-->
