{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <h1>Product List</h1> </div>
    <div class="row">
        {% for product in product_list %}
        {% include "product/snippets/card.html" with instance=product %}
        {% endfor %}
    </div>
</div>


{% endblock %}



<!--{-->
<!--'paginator':        None, -->
<!--'page_obj':         None, -->
<!--'is_paginated':     False, -->
<!--'object_list': -->
<!--                    <QuerySet [<Product: Computer>, <Product: Hat>]>, -->
<!--'product_list':     <QuerySet [<Product: Computer>, <Product: Hat>]>, -->
<!--'view': <product.views.ProductListView object at 0x0423A8F0>-->
<!--            }-->
