{% extends "base.html" %}



{% block content %}
<h1> Product Details </h1>
<p>
    {{product.title|title}}<br>
    Price: ${{product.price}}<br>
    Created: {{product.timestamp|timesince}} ago <br>
    {% if product.image %}
        <img src="{{product.image.url}}" class="img-fluid"><br>
    {% endif %}
    {{product.description|linebreaks}}
</p>
{% endblock %}


<!--{ context data
'object': <Product: Hat>,
'product': <Product: Hat>,
'view': <product.views.ProductDetailView object at 0x05157830>}-->
