
  <div class="card">
    <h5 class="card-body card-title">{{instance.title}}</h5>
    {% if instance.image %}
    <a href="{{instance.image.url}}">
      <img class="card-img-top" src="{{instance.image.url}}" alt="picture of {{instance.title}}"></a>
    {% endif %}
    <div class="card-body">
      <p class="card-text">{{instance.description|truncatewords:20}}<br>
        {{instance.price}}</p>
      <a href="{% url 'product:detail' instance.slug %}" class="btn btn-primary">View</a>
      {% include "product/snippets/update_cart.html" with product=instance cart=cart %}
    </div>
  </div>


<!--style="width: 18rem;-->